* {
    font-family: "0xProto Nerd Font", sans-serif;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
    
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

tooltip {
    background-color: #333;
    color: #fff;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
  }

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
}



#battery.charging {
    color: white;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#idle_inhibitor {
    margin-right: 10px;
}

#power_profiles-daemon {
    margin-right: 10px;
}

.modules-center {
    border: 2px solid;
    border-color: white;
    border-radius: 5;
}

.modules-right {
    border: 2px solid;
    border-color: white;
    border-radius: 5;
    padding: 5px;
    margin-left: 1px;
    margin-right: 1px;
}

.modules-left {
    border: 2px solid;
    border-color: white;
    border-radius: 5;   
}